* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home,
.calendar,
.chat,
.meet,
.whiteboard,
.notes {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}